@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    scroll-behavior:smooth;
}

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  .animate-slideInRight {
    animation-name: slideInRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .animate-slideOutRight {
    animation-name: slideOutRight;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  /* Scrolling Prodcut list Unlimited */
  .ProductContainer{
    height: 110vh !important;
    overflow-y: scroll;
    scroll-behavior:smooth;
  }
  .ProductContainer::-webkit-scrollbar {
    display: none !important;
   }
  